src/src.xcodeproj/*
src/src.xcodeproj/project.pbxproj
src/src.xcodeproj/project.xcworkspace/contents.xcworkspacedata
src/src.xcodeproj/project.xcworkspace/xcuserdata/ince.xcuserdatad/UserInterfaceState.xcuserstate
src/src.xcodeproj/xcuserdata/ince.xcuserdatad/xcschemes/xcschememanagement.plist
src/src.xcodeproj/project.pbxproj
src/src.xcodeproj/project.xcworkspace/contents.xcworkspacedata
src/src.xcodeproj/project.xcworkspace/xcuserdata/ince.xcuserdatad/UserInterfaceState.xcuserstate
src/src.xcodeproj/xcuserdata/ince.xcuserdatad/xcschemes/xcschememanagement.plist
